body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote::before, blockquote::after, q::before, q::after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* style */

body {
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    background-image: url(img/bgporsche.jpg);
    color:  #333;
}

.container{ 
    width: 800px;
    margin: auto;
    background-color: #fff;
}

.header {
    padding: 20px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}

.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}

.header a {
    text-decoration: none;
    color: salmon;
}

.header a:hover {
    background-color: lightskyblue;
    color: white;
}

.hero {
    height: 250px;
    background-image: url(img/beli.jpg);
    background-size: cover;
    background-position: 0-110px;
    border-top: 5px solid salmon;
    border-bottom: 5px solid lightskyblue;
}

.conten {
    padding: 20px;
}

.conten h2 {
    font-size: 32px;
    font-weight: bold;
}

.conten .penulis {
    font-size: 11px;
    margin-top: -5px;
}

.conten .penulis a {
    color: salmon;
    text-decoration: none;
}

.conten p {
    margin-bottom: 20px;
    font-size: 14px;
}

.footer {
    background-color: #333;
    padding: 10px;
}

.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
}