* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "BBH Sans Bartle" sans-serif;
    overflow-x: hidden;
}

/* Navbar */

nav {
    display: flex;
    background-color: rgb(86, 86, 238);
    justify-content: space-around;
    padding: 20px 0;
    color: aqua;
}

nav .logo {
    font-family: "Permanent Marker" ;

}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 0.8em;
    transition: .5s;
}

nav ul li a:hover {
    color: white;
    background-color: black;
    padding: 15px;
    border-radius: 6px;
    scale: 1.2;
}

 /* HAMBURGER MENU */

 .menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
 }

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 20px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

 .menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color:rgb(255, 255, 255);
    border-radius: 3px;
    transition: all 0.5s;
 }
 
/* ANIMASI HAMBURG MENU */

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    background-color: white;
    transform: rotate(45deg) translate(-1px, -3px)
}

.menu-toggle input:checked ~ span:nth-child(4){
    background-color: white;
    transform: rotate(-45deg) translate(2px, .1px)
}
.menu-toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0)
}

/* RESPONSIVE BREAKPOINT */

/* UKURAN TABLET */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        z-index: 0;
        background-color:rgb(86, 86, 238);
        width: 100%;
        right: -100%;
        transition: all 1s;
        opacity: 0;
        z-index: -2;
    }
}

nav ul.slide {
    right: 0;
    opacity: 1;
}