.clear {
    clear: both;
}

/* style utama */

body {
    background-color: black;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: -10px;
    margin-top: 5px;
    width: 1400px;
    background-color: grey;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    position: fixed;
}

.header .judul {
    font-weight: bold;
    font-size: 25px;
}

.header h1 {
    text-align: start;
    margin-left: 20px;
    margin-top: 10px;
}

.nav li {
    display: inline-block;
    padding-left: 5px;
    text-align: left;
}

.nav ul {
    margin-left: 550px;
    float: left;
}

.nav ul li a {
    text-decoration: none;
    margin-left: 5px;
    margin-right: 15px;
    float: left;
    font-size: 25px;
    margin-top: 10px;
    color: white;
}

.nav ul li a:hover {
    color: black;
    background-color: white;
    transition: 1s;
   box-shadow: 
        0 4px 8px aqua,
        0 2px 4px aqua;
    transform: translateY(-2px); 
}

.container {
    background-color: aqua;
    width: 1400px;
    margin: auto;
    margin-top: 75px;
}

/* HAL 1 */

.bio {
    width: 600px;
    float: left;
    margin: 40px;
    margin-left: 70px;
    margin-top: 80px;
}

.bio h1 {
    font-size: 70px;
}

.bio h2 {
    font-size: 30px;
}

.bio p {
    font-size: 20px;
}

.container .fotoku {
    float: right;
    width: 600px;
    border-radius: 50%;
    margin: 40px;
}

/* HAL 2 */

.container .Promo {
    float: right;
    padding-right: 40px;
    margin-top: 70px;
}

.Promo {
    background-color: white;
    border-radius: 10%;
    margin-right: 30px;
    padding: 10px;
}

.Promo h1 {
    font-size: 60px;
}

.Promo h2 {
    font-size: 40px;
}

.Promo ul li {
    font-size: 30px;
    padding-bottom: 10px;
}
.container .umroh {
    width: 600px;
    display: inline;
    margin-top: 75px;
}

/* HAL 3 */

.judul {
    text-align: center;
}

.journey {
    width: 700px;
    background-color: white;
    margin: auto;
    padding: 30px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .3);
}

.tour li a img,
.tour li,
.tour li span {
    border-radius: 50%;
}

.tour li {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid #666;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
    float: left;
}

.tour li span {
    display: block;
    width: 120px;
    height: 120px;
    background-color: rgba(200, 200, 200, .5);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 120px;
    color: #333;
    text-shadow: 1px 1px 1px #ddd;
    opacity: 0;
    transition: .3s;
    transform: scale(0) rotate(0);
}

.tour li a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

.clear {
    clear: both;
}

/* overlay */

.overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    z-index: 9999;
    transition: 1s;
    text-align: center;
    padding: 100px 0;
}

.overlay:target {
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .7);
}
    

.overlay img {
    max-height: 100%;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, .5);
}

.overlay:target img {
    animation: fade 1s;
}
.overlay .close {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -20px;
    color: white;
    text-decoration: none;
    background-color: black;
    border: 1px solid white;
    line-height: 14px;
    padding: 5px;
    opacity: 0;
}

.overlay:target .close {
    animation: slideDownFade .5s .5s forwards;
}


/* navigasi */

.next, .prev {
    width: 93px;
    height: 93px;
    background-image: url(../img/right.png);
    position: fixed;
    text-indent: -9999px;
    top: 45%;
    margin-left: 40px;
    opacity: 0;
}

.prev {
    background-image: url(../img/left.png);
    margin-left: -125px;
}

.overlay:target .next {
    animation: fade .5s .5s forwards;
}
.overlay:target .prev {
    animation: fade .5s .5s forwards;
}

/* gambar */
@keyframes zoomDanFade {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* close */
@keyframes slideDownFade {
    0% {
        opacity: 0;
        margin-top: -20px;
    }

    100% {
        opacity: 1;
        margin-top: -20px;
    }
}

/* next,prev */

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.spc1 {
    margin-top: 70px;
}

